.header {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2em;
}

.header__link {
  font-size: var(--size-xs);
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-slate600);
  letter-spacing: -0.05em;
  transition: color 0.3s;
}

.header__link:hover {
  color: var(--clr-rose);
}

.header__line {
  border: 1px solid var(--clr-slate600);
  padding-top: 1.5em;
}

.header__resume {
  font-size: var(--size-xs);
}

/* xs */
@media (min-width: 475px) {
  .header {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--clr-dark);
  }
}

/* sm */
/* @media (min-width: 640px) {
  
} */

/* md */
@media (min-width: 768px) {
  .header {
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }
}

.header__resume {
  font-size: var(--size-sm);
}

/* xl */
/* @media (min-width: 1280px) {

} */

/* xxl */
/* @media (min-width: 1536px) {
    
} */
